@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i&display=swap');
* {
    box-sizing: border-box;
}

section {
    background-color:   #ffffff;
    position:  relative;
    word-wrap:  break-word;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat-x: no-repeat;
    background-repeat-y: no-repeat;
}

.cid-tlVfrwbwzd {
    z-index: 1000;
    width: 100%;
    position: relative;
    min-height: 60px;
}

body {
    margin:      0;
    font-family:   IBM Plex Mono;
    font-size:      1rem;
    font-weight:     400;
    line-height:     1.5;
    color:     #232323;
    background-color:      #fff;
    -webkit-text-size-adjust:      100%;
    -webkit-tap-highlight-color:      transparent;
    font-style:    normal;
    position:    relative;
    height:   auto;
    min-height:   100vh;
    overflow-x: hidden;
}

html {
    height: auto;
    min-height: 100vh;
}

:root {
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

@media (min-width: 992px){
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}

.navbar-dropdown {
    left: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.45s ease;
    z-index: 1030;
    background: #282828;
}

.navbar {
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-align-items: center;
    -webkit-justify-content: space-between;
}

.navbar-dropdown.navbar-fixed-top {
    position: fixed;
}

.navbar  {
    min-height: 70px;
    transition: all 0.3s;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
    background: #c6ffe0;
}

.navbar-dropdown  {
    padding: 0 1rem;
    position: fixed;
}

nav.navbar  {
    position: fixed;
}

*,:after,:before {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px){
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px){
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px){
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px){
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1400px){
  .container {
    max-width: 1320px;
  }
}

.container {
    position: relative;
    word-wrap: break-word;
}

@media (min-width: 992px){
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.navbar .navbar > .container  {
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}

.container  {
    display: flex;
    margin: auto;
}

@media (min-width: 992px){
  .container  {
    flex-wrap: nowrap;
  }
}

.navbar-brand {
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}

.navbar-brand  {
    display:  -webkit-flex;
    min-height: 70px;
    flex-shrink: 0;
    align-items: center;
    margin-right: 0;
    padding: 10px 0;
    padding-right: 2rem !important;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
}

button {
    border-radius:    0;
    margin:   0;
    font-family:   inherit;
    font-size:   inherit;
    line-height:   inherit;
    text-transform:  none;
    background-color: transparent;
    border-color: transparent;
}

[type="button"],button {
    -webkit-appearance: button;
}

.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion: reduce){
  .navbar-toggler {
    transition: none;
  }
}

.navbar-toggler {
    align-self: flex-start;
    padding: 0.25rem 0.75rem;
    font-size: 1.25rem;
    line-height: 1;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

[type="button"]:not(:disabled),button:not(:disabled) {
    cursor: pointer;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-toggler  {
    display: none;
  }
}

button.navbar-toggler  {
    outline: none;
    width: 31px;
    height: 20px;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
}

.navbar-toggler:hover {
    text-decoration:  none;
    box-shadow: none;
}

.navbar-collapse {
    flex-basis:  100%;
    flex-grow:  1;
    align-items:  center;
    -webkit-flex-basis: 100%;
    -webkit-flex-grow: 1;
    -webkit-align-items: center;
}

.collapse:not(.show) {
    display: none;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse  {
    display: flex!important;
    flex-basis: auto;
  }
}

.navbar-collapse  {
    justify-content: space-between;
    z-index: 1;
}

span {
    line-height: 1;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 400;
}

.navbar-dropdown .navbar-brand span  {
    vertical-align: -4px;
}

.navbar-brand span  {
    display: flex;
    display: -webkit-flex;
}

.navbar-brand .navbar-caption-wrap  {
    display: -webkit-flex;
}

ul {
    padding-left:   2rem;
    margin-top:  0;
    margin-bottom:  2.3125rem;
}

.navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-dropdown {
    font-size: 0.75rem;
    font-weight: 500;
    height: auto !important;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav  {
    flex-direction: row;
  }
}

ul.navbar-nav  {
    flex-wrap: wrap;
}

@media (min-width: 992px){
  .navbar-nav.nav-dropdown  {
    display: -webkit-flex;
  }
}

.mbr-section-btn {
    margin-left: -0.6rem;
    margin-right: -0.6rem;
    font-size: 0;
}

.mbr-section-btn  {
    margin-left: 0rem;
    margin-right: 0rem;
}

.navbar-buttons  {
    text-align: center;
    min-width: 170px;
}

a {
    color:   #13e5c0;
    text-decoration:    none;
    font-style:    normal;
    font-weight:    400;
    cursor:    pointer;
    transition: color 0.6s;
}

.display-5 {
    font-size: calc(1.425rem + 2.1vw);
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 1200px){
  .display-5 {
    font-size: 3rem;
  }
}

.display-5,a {
    line-height: 1;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 400;
}

.display-5 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.7rem;
    line-height: 1.2;
}

.text-black {
    color: #232323 !important;
}

.navbar-dropdown .navbar-caption  {
    font-weight:  700;
    white-space:  normal;
    vertical-align:  -4px;
    line-height:  3.125rem !important;
    color: inherit;
    text-decoration: none;
}

.navbar-brand .navbar-caption  {
    line-height: inherit !important;
}

a:hover {
    color: #0a58ca;
}

a,a:hover {
    text-decoration:  none;
    color: #13e5c0;
}

a.text-black:hover {
    color: #000000 !important;
}

.navbar-dropdown .navbar-caption ,.navbar-dropdown .navbar-caption:hover  {
    color: inherit;
    text-decoration: none;
}

button.navbar-toggler .hamburger span  {
    position: absolute;
    right: 0;
    width: 30px;
    height: 2px;
    border-right: 5px;
    background-color: #000000;
}

button.navbar-toggler .hamburger span:nth-child(1)  {
    top: 0;
    transition: all 0.2s;
}

button.navbar-toggler .hamburger span:nth-child(2)  {
    top: 8px;
    transition: all 0.15s;
}

button.navbar-toggler .hamburger span:nth-child(3)  {
    top: 8px;
    transition: all 0.15s;
}

button.navbar-toggler .hamburger span:nth-child(4)  {
    top: 16px;
    transition: all 0.2s;
}

.display-4 {
    font-size: calc(1.475rem + 2.7vw);
    font-weight: 300;
    line-height: 1.2;
}

@media (min-width: 1200px){
  .display-4 {
    font-size: 3.5rem;
  }
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

@media (prefers-reduced-motion: reduce){
  .btn {
    transition: none;
  }
}

.display-4,a {
    line-height: 1;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 400;
}

.btn {
    display:  inline-flex;
    font-weight:  600;
    border-width:  2px;
    font-style:  normal;
    margin:  0.6rem 0.6rem;
    white-space:  normal;
    transition:  all 0.2s ease-in-out;
    align-items:  center;
    justify-content:  center;
    word-break:  break-word;
}

.display-4 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.1rem;
    line-height: 1.5;
}

.btn {
    padding: 1rem 1.8rem;
    border-radius: 5px;
}

.btn-secondary-outline {
    background-color: transparent !important;
    border: 2px dashed #19303d;
    color: #19303d;
}

.btn:hover {
    color: #212529;
}

.btn-secondary-outline:hover {
    color: #ffffff !important;
    background-color: #19303d !important;
    border-color: #19303d !important;
    box-shadow: none !important;
}

.btn-primary {
    color:  #19303d !important;
    background-color:  #13e5c0 !important;
    border-color:  #13e5c0 !important;
}

.btn-primary:hover {
    color:   #ffffff !important;
    background-color:  #19303d !important;
    border-color:  #19303d !important;
    box-shadow:  0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

.nav-link {
    display: block;
    padding: .5rem 1rem;
    color: #0d6efd;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

@media (prefers-reduced-motion: reduce){
  .nav-link {
    transition: none;
  }
}

.text-secondary {
    color:  #19303d !important;
}

.navbar-nav .nav-link  {
    padding-right: 0;
    padding-left: 0;
}

.nav-dropdown .link  {
    margin:  0 !important;
    font-weight:  500;
    padding:  0.667em 1.667em !important;
    transition:  color .2s ease-in-out;
}

.nav-link  {
    font-weight: 600;
    position: relative;
}

a.nav-link  {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link  {
    padding-right: .5rem;
    padding-left: .5rem;
  }
}

.nav-dropdown .link  {
    padding: 0 0.3em !important;
    margin: 0.667em 1em !important;
}

.navbar-nav .nav-link  {
    padding: 0;
}

.nav-dropdown .link:after ,.dropdown-item:after  {
    color: inherit;
}

.nav-link:hover {
    color: #0a58ca;
}

a.text-secondary:hover {
    color: #000000 !important;
}

.nav-link:hover  {
    color: #13e5c0 !important;
}


